<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="cz.cuni.mff.xrg.odalic.*" />

	<!-- Helpers -->
	<bean id="inputBuilder" class="cz.cuni.mff.xrg.odalic.input.ListsBackedInputBuilder"
		scope="prototype" />
	<bean id="inputToTableAdapter" class="cz.cuni.mff.xrg.odalic.input.DefaultInputToTableAdapter"
		scope="prototype" />

	<bean id="csvInputParser" class="cz.cuni.mff.xrg.odalic.input.DefaultCsvInputParser"
		scope="prototype" />
	<bean id="annotationToResultAdapter"
		class="cz.cuni.mff.xrg.odalic.tasks.results.DefaultAnnotationToResultAdapter"
		scope="prototype" />

	<bean id="resultToAnnotatedTableAdapter"
		class="cz.cuni.mff.xrg.odalic.outputs.annotatedtable.DefaultResultToAnnotatedTableAdapter"
		scope="prototype" />
	<bean id="resultToCsvExportAdapter"
		class="cz.cuni.mff.xrg.odalic.outputs.csvexport.DefaultResultToCSVExportAdapter"
		scope="prototype" />
	<bean id="csvExporter"
		class="cz.cuni.mff.xrg.odalic.outputs.csvexport.DefaultCSVExporter"
		scope="prototype" />

	<bean id="annotatedTableToRdfExportAdapter"
		class="cz.cuni.mff.xrg.odalic.outputs.rdfexport.DefaultAnnotatedTableToRDFExportAdapter"
		scope="prototype" />
	<bean id="rdfExporter"
		class="cz.cuni.mff.xrg.odalic.outputs.rdfexport.DefaultRDFExporter"
		scope="prototype" />

	<bean id="knowledgeBaseProxyFactory"
		class="cz.cuni.mff.xrg.odalic.tasks.executions.DefaultKnowledgeBaseProxyFactory" />
	<bean id="semanticTableInterpreterFactory"
		class="cz.cuni.mff.xrg.odalic.tasks.executions.TableMinerPlusFactory" />
	<bean id="feedbackToConstraintsAdapter"
		class="cz.cuni.mff.xrg.odalic.feedbacks.DefaultFeedbackToConstraintsAdapter" />

	<!-- Services -->
	<bean id="fileService" class="cz.cuni.mff.xrg.odalic.files.MemoryOnlyFileService" />
	<bean id="configurationService"
		class="cz.cuni.mff.xrg.odalic.tasks.configurations.MemoryOnlyConfigurationService" />
	<bean id="executionService"
		class="cz.cuni.mff.xrg.odalic.tasks.executions.FutureBasedExecutionService" />
	<bean id="feedbackService"
		class="cz.cuni.mff.xrg.odalic.tasks.feedbacks.MemoryOnlyFeedbackService" />
	<bean id="taskService" class="cz.cuni.mff.xrg.odalic.tasks.MemoryOnlyTaskService" />
	<bean id="annotatedTableService"
		class="cz.cuni.mff.xrg.odalic.outputs.annotatedtable.ResultAdaptingAnnotatedTableService" />
	<bean id="csvExportService"
		class="cz.cuni.mff.xrg.odalic.outputs.csvexport.ResultAdaptingCsvExportService" />
	<bean id="rdfExportService"
		class="cz.cuni.mff.xrg.odalic.outputs.rdfexport.RioBackedRdfExportService" />
	<bean id="entitiesService" class="cz.cuni.mff.xrg.odalic.entities.DefaultEntitiesService" />
	<bean id="basesService" class="cz.cuni.mff.xrg.odalic.bases.DefaultBasesService" />

	<!-- Resources -->
	<bean id="configurationResource"
		class="cz.cuni.mff.xrg.odalic.api.rest.resources.ConfigurationResource" />
	<bean id="executionResource"
		class="cz.cuni.mff.xrg.odalic.api.rest.resources.ExecutionResource" />
	<bean id="feedbackResource"
		class="cz.cuni.mff.xrg.odalic.api.rest.resources.FeedbackResource" />
	<bean id="fileResource" class="cz.cuni.mff.xrg.odalic.api.rest.resources.FileResource" />
	<bean id="resultResource"
		class="cz.cuni.mff.xrg.odalic.api.rest.resources.ResultResource" />
	<bean id="stateResource" class="cz.cuni.mff.xrg.odalic.api.rest.resources.StateResource" />
	<bean id="taskResource" class="cz.cuni.mff.xrg.odalic.api.rest.resources.TaskResource" />
	<bean id="annotatedTableResource"
		class="cz.cuni.mff.xrg.odalic.api.rest.resources.AnnotatedTableResource" />
	<bean id="csvExportResource"
		class="cz.cuni.mff.xrg.odalic.api.rest.resources.CsvExportResource" />
	<bean id="rdfExportResource"
		class="cz.cuni.mff.xrg.odalic.api.rest.resources.RdfExportResource" />
	<bean id="entitiesResource"
		class="cz.cuni.mff.xrg.odalic.api.rest.resources.EntitiesResource" />
	<bean id="basesResource" class="cz.cuni.mff.xrg.odalic.api.rest.resources.BasesResource" />
</beans>